<!DOCTYPE html>
<html ng-app='pbApp'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>Descubre - Play Business</title>
  </head>
  <body>
    <ul class="topnav">
      <li><a class="active" href="#home"><img id='pb-nav-logo' src="https://playbusiness.mx/assets/logo-b3c1b96c7e4323806259b443545e85cf.png" alt="" /></a></li>
      <li><a href="#">Descubre</a></li>
      <li><a href="#">Sube tu proyecto</a></li>
      <li><a href="#">¿Como funciona?</a></li>
      <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
      </li>
    </ul>
    <section class='divider'>
      <h2>Descubre Proyectos</h2>
      <hr>
    </section>
    <section class='container'>
      <ul ng-controller= "ProjectListCtrl">
        <li ng-repeat="project in projects" ng-init="playVideo = 0">
          <div class="project">
            <div class="project-content">
              <div ng-click='playVideo = 1' class='project-content-header' title='Ver Video'>
                <img ng-show='playVideo == 0' class='project-content-header_logo' src="{{ project.logoUrl }}" alt="{{ project.name }}" />
                <img ng-show='playVideo == 0' class='pb-logo' src="https://playbusiness.mx/assets/hexagono3-00f00ad82cbf4e65effd993fb72fec9c.png" alt="Ver video" />
                <iframe width="100%" height="193" ng-show="playVideo == 1" ng-src="{{ project.videoUrl }}" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="project-content-detail">
                <h3 class='project-content-detail_title'>{{ project.name }} <img ng-click="like(project)" class='like' src="{{ project.following ? 'https://playbusiness.mx/like-on.png' : 'https://playbusiness.mx/like.png' }}" alt="Like" /></h3>
                <p class='project-content-detail_description'>
                  {{ project.description }}
                </p>
                <div class="project-content-detail_progress">
                  <div class="w3-progress-container">
                    <div id="myBar" class="w3-progressbar w3-green" style="width:{{project.progress}}%">
                      <div id="demo" class="w3-center">${{ project.totalCollected | number }}</div>
                    </div>
                  </div>
                  <p>quedan <strong>{{ project.daysLeft }}</strong> dias</p>
                </div>
                <div>
                  <div class='project-content-detail_badge'>
                    <img src="https://playbusiness.mx/assets/porcentaje-2be100d1c8f045eda24baa5c2dab6a15.png" alt="Porcentaje a cambio" />
                    <strong>{{ project.percShare }}%</strong>
                  </div>
                  <div class='project-content-detail_badge'>
                    <img src="https://playbusiness.mx/assets/dinero-4ef07c8de8dedf06b86a43ed0c459290.png" alt="Monto recaudado" />
                    <strong>${{ project.bizValuation | number }}</strong>
                  </div>
                  <div class='project-content-detail_badge'>
                    <strong class='followers'>{{ project.followers }}</strong>
                    <label>Seguidores</label>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show='project.open == 1' class="project-invest">
              <p>¿CUÁNTO DINERO QUIERES PONER? (Minimo $100.00)</p>
              <span>Por $
                <input class='project-invest_money' type="text" name="name" ng-model="project.monthlyInvest" ng-change="getInvestPerc(project)"> pesos al mes durante
                <strong>{{ project.investPeriod }} meses,</strong> compro el <strong>{{ project.percExchange ? project.percExchange : 0 }}%</strong>
              </span>
            </div>
            <button ng-click='toggleInvest(project)' class='flat-button' type="button" name="button">INVERTIR ${{ project.totalInvest ? (project.totalInvest | number:2) : '' }}</button>
          </div>
        </li>
      </ul>
      <section class='divider'>
        <h2>Casos de éxito...Espera una 2da ronda</h2>
        <hr>
      </section>
      <ul ng-controller= "ProjectCompleteListCtrl">
        <li ng-repeat="project in projectsComplete" ng-init="playVideo = 0">
          <div class="project">
            <div class="project-content">
              <div ng-click='playVideo = 1' class='project-content-header' title='Ver Video'>
                <img ng-show='playVideo == 0' class='project-content-header_logo' src="{{ project.logoUrl }}" alt="{{ project.name }}" />
                <img ng-show='playVideo == 0' class='pb-logo' src="https://playbusiness.mx/assets/hexagono3-00f00ad82cbf4e65effd993fb72fec9c.png" alt="Ver video" />
                <iframe width="100%" height="193" ng-show="playVideo == 1" ng-src="{{ project.videoUrl }}" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="project-content-detail">
                <h3 class='project-content-detail_title'>{{ project.name }} <img ng-click="like(project)" class='like' src="{{ project.following ? 'https://playbusiness.mx/like-on.png' : 'https://playbusiness.mx/like.png' }}" alt="Like" /></h3>
                <p class='project-content-detail_description'>
                  {{ project.description }}
                </p>
                <img class='fondeado-img' src="https://playbusiness.mx/assets/fondeado-1a5b7f0b2db2a367b227bde3016a966f.png" alt="" />
                <div class="project-content-detail_progress">
                  <div class="w3-progress-container">
                    <div id="myBar" class="w3-progressbar w3-yellow" style="width:{{project.progress}}%">
                      <div id="demo" class="w3-center">${{ project.totalCollected | number }}</div>
                    </div>
                  </div>
                  <p>quedan <strong>{{ project.daysLeft }}</strong> dias</p>
                </div>
                <div>
                  <div class='project-content-detail_badge'>
                    <img src="https://playbusiness.mx/assets/porcentaje-2be100d1c8f045eda24baa5c2dab6a15.png" alt="Porcentaje a cambio" />
                    <strong>{{ project.percShare }}%</strong>
                  </div>
                  <div class='project-content-detail_badge'>
                    <img src="https://playbusiness.mx/assets/dinero-4ef07c8de8dedf06b86a43ed0c459290.png" alt="Monto recaudado" />
                    <strong>${{ project.bizValuation | number }}</strong>
                  </div>
                  <div class='project-content-detail_badge'>
                    <strong class='followers'>{{ project.followers }}</strong>
                    <label>Seguidores</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
